{% extends "layout.html" %}

{% block title %}
  Tweet List
{% endblock %}

{% block content %}
<h1 class="red">Welcome to New Project</h1>

<a class="btn btn-primary m-3" href="{% url 'tweet_create' %}">Create a Tweet</a>

<div class="container row gap-3 m-3">
  {% for tweet in tweets %}
    <div class="card p-3" style="width: 18rem;">
      {% if tweet.photo %}
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
      {% else %}
        <img src="/static/default.jpg" class="card-img-top" alt="Default Image">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ tweet.user.username }}</h5>
        <p class="card-text">{{ tweet.text }}</p>
        <small class="text-muted">Posted on {{ tweet.created_at|date:"M d, Y H:i" }}</small>
        {% if tweet.user == user %}
        <div class="mt-2">
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary btn-sm">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
